---
layout: archive
title: "Workshops & Tutorials"
permalink: /talks/
author_profile: true
---

<ul>
  <li><b>Data manipulation with <code>dplyr</code></b>
    | <a href="/files/dplyr_tutorial.html" target="_blank">Notebook</a>
    | <a href="https://github.com/SereDef/GenR-PRS-calculation">Repository</a>
    <br>
    <mark style="padding:1px 0px; background-color:#ffffff; color:grey"> Tags: </mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> R</mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> tidyverse</mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> ggplot2</mark>
  </li>
  <li><b>Common misconceptions about multiple imputation</b>
    | <a href="/files/common_misconceptions_MI.pdf" target="_blank">Slides</a>
    <br>
    <mark style="padding:1px 0px; background-color:#ffffff; color:grey"> Tags: </mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> Selection bias</mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> Predictive mean matching</mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> Imputation quality control</mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> Data simulation</mark><br><br>
    <mark style="padding:1px 0px; background-color:#ffffff; color:grey"> Multiple imputation is a very useful approach to
      fight selection bias, but it is rarely used in epidemiological research due to some common misconceptions. In this
      talk we go over these ideas and disprove them. We also provide a practical tutorial on how to implement MI in R. </mark>
  </li>
  <li><b>A gentle introduction to Git and GitHub (for researchers)</b>
    | <a href="/files/intro_Git_Github.pdf" target="_blank">Slides</a>
    <br>
    <mark style="padding:1px 0px; background-color:#ffffff; color:grey"> Tags: </mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> Version control</mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> Reproducibility</mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> Open science</mark>
  </li>
  <li><b>How to run a genome-wide association study (GWAS) from scratch</b>
    | <a href="https://github.com/inDEPTHlab/GenR-run-GWAS">Repository</a>
    <br>
    <mark style="padding:1px 0px; background-color:#ffffff; color:grey"> Tags: </mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> Bash scripting</mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> Genetic data analysis</mark>
  </li>
  <li><b>Computing polygenic risk scores (PRS) from scratch</b>
    | <a href="https://github.com/SereDef/GenR-PRS-calculationS">Repository</a>
    <br>
    <mark style="padding:1px 0px; background-color:#ffffff; color:grey"> Tags: </mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> Bash scripting</mark>
    <mark style="padding:1px 5px; background-color:#fdedec; color:grey"> Genetic data analysis</mark>
  </li>
</ul>

<!--
{% for post in site.tutorials reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

<br>
<br>
<h1>
  Talks & presentations
</h1>

{% for post in site.talks reversed %}
  {% include archive-single.html %}
{% endfor %}
