{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <!-- Title -->
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a style="font-size:18px; font-weight:400;" href="{{ post.link }}">{{ title }}</a>
      {% else %}
        <a style="font-size:18px; font-weight:400;" href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>

    <!--Portfolio main page-->
    {% if post.collection == 'portfolio' %}
      {% if post.tag_list %}
        <p>{{post.excerpt}} <br>Tags:
          {% for tag in post.tag_list %}
            <mark style="padding:1px 5px; background-color:#fdedec; color:grey">{{tag}}</mark>
          {% endfor %}
        </p>
      {% else %}
        <p>{{post.excerpt}}</p>
      {% endif %}

    <!--Publications main page-->
    {% elsif post.collection == 'publications' %}
      {% if post.tag_list %}
        <p>{{post.venue}} <br>Tags:
          {% for tag in post.tag_list %}
            <mark style="padding:1px 5px; background-color:#fdedec; color:grey">{{tag}}</mark>
          {% endfor %}
        </p>
      {% else %}
        <p>{{post.venue}}</p>
      {% endif %}

    <!--Talks and workshops main page -->
    {% elsif post.collection == 'talks' %}
      {% if post.tag_list %}
        <p>Topics:
          {% for tag in post.tag_list %}
            <mark style="padding:1px 5px; background-color:#fdedec; color:grey">{{tag}}</mark>
          {% endfor %}
        </p>
      {% endif %}

    {% elsif post.collection == 'tutorial' %}
      <p>{{post.excerpt}} | <a href="{{ post.repo_url }}">Repository</a></p>
      {% if post.tag_list %}
        <p>Tags:
          {% for tag in post.tag_list %}
            <mark style="padding:1px 5px; background-color:#fdedec; color:grey">{{tag}}</mark>
          {% endfor %}
        </p>
      {% endif %}

    <!--Software main page -->
    {% elsif post.collection == 'software' or post.collection == 'packages' %}
      <p>{{post.excerpt}} | <a href="{{ post.repo_url }}">Repository</a></p>

    {% endif %}

    <!--Don't duplicate excerpt
    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %} -->

    <!--Citation in main page?-->
    <!--{% if post.citation and post.paperurl %}
      <p>Cit: {{ post.citation }} <a href="{{ post.paperurl }}">DOI</a></p>
    {% elsif post.citation %}
      <p>Cit: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %}-->

  </article>
</div>
